{% extends "flight_archive/paginator_options.html" %}
{% block paginator_selector %}


    <table>
        <tr>
            <th>last update daytime</th>
            <th>departure_airport_iata_name</th>
            <th>departure_airport_iata_country_name</th>
            <th>departure_scheduledtime</th>
            <th>departure_actual_estimatedtime</th>
            <th>departure_delay</th>

            <th>departure_weather temp</th>
            <th>departure_weather main</th>
            <th>departure_weather description</th>

            <th>arrival_airport_iata_name</th>
            <th>arrival_airport_iata_country_name</th>
            <th>arrival_scheduledtime</th>
            <th>arrival_actual_estimatedtime</th>
            <th>arrival_delay</th>

            <th>arrival_weather temp</th>
            <th>arrival_weather main</th>
            <th>arrival_weather description</th>

            <th>airline_icao_number</th>
            <th>airline_name</th>
            <th>codesharing_icao_number</th>
            <th>codesharing_name</th>

        </tr>

        {% for flight in  flights_all %}
            <tr>

                <td>{{ flight.last_update_timestamp }}</td>
                <td>{{ flight.departure_airport_iata.name }}</td>
                <td>{{ flight.departure_airport_iata.country_name }}</td>
                <td>{{ flight.departure_scheduledtime }}</td>
                <td>{{ flight.departure_actual_estimatedtime }}</td>
                <td>{{ flight.departure_delay }} {% if flight.departure_delay %} minutes {% endif %}</td>

                <td>{{ flight.departure_weather.main.temp }} °C</td>
                <td>{{ flight.departure_weather.weather.0.main }} </td>
                <td>{{ flight.departure_weather.weather.0.description }} </td>

                <td>{{ flight.arrival_airport_iata.name }}</td>
                <td>{{ flight.arrival_airport_iata.country_name }}</td>
                <td>{{ flight.arrival_scheduledtime }}</td>
                <td>{{ flight.arrival_actual_estimatedtime }}</td>
                <td>{{ flight.arrival_delay }} {% if flight.arrival_delay %} minutes {% endif %}</td>

                <td>{{ flight.arrival_weather.main.temp }} °C</td>
                <td>{{ flight.arrival_weather.weather.0.main }} </td>
                <td>{{ flight.arrival_weather.weather.0.description }} </td>

                <td>{{ flight.airline_icao_number }}</td>
                <td>{{ flight.airline_name }}</td>
                <td>{{ flight.codesharing_icao_number }}</td>
                <td>{{ flight.codesharing_name }}</td>

            </tr>



        {% endfor %}
    </table> <br>


     <div class="container2">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item">  <!-- Jump to Previous Page -->
                    {% if flights_all.has_previous %}
                        <li class="previous"><a href="?page={{ flights_all.previous_page_number }}">
                            <span aria-hidden="true"> < poprzednia &nbsp;</span></a>
                            {% else %}
                        <li class="previous disabled"><a> </a>
                    {% endif %}
                    </li>
                {% for page in flights_all.paginator.page_range %}
                    {% if page == flights_all.number %}
                        <li class="pg active"><a class="page_number" href="?page={{ page }}"> | {{ page }} |</a>
                            {% else %}
                        <li class="pg"><a class="page_number" href="?page={{ page }}"> | {{ page }} |</a>
                    {% endif %}
                {% endfor %}
                <li class="page-item">  <!-- Jump to Next Page -->
                    {% if flights_all.has_next %}
                        <li class="previous"><a href="?page={{ flights_all.next_page_number }}">&nbsp;następna ></a>
                        </li>
                    {% else %}
                        <li class="next disabled"><a> </a>
                    {% endif %}
                    </li>
            </ul>
        </nav>
    </div>



{% endblock %}
