{% extends "layout/base.html" %}
{% block content %}

    {{ message }}

    {{ airport_selector }}
    {{ type_selector }}
    {{ canceled_deleyed_selector }}


    <div>
        <form method="post">
            <label>
                <b>input airport [iata code, airport name, country, EEA (European Economic Area)]</b>
                <input type='text'
                       placeholder='Name of airport'
                       class='airpoertDataList'
                       data-min-length='3'
                       list='airportList'
                       name='airport'
                       id="airpot-selector"
                       size="60">

                <datalist id="airportList">
                    {% for airport in airport_data %}
                        <option value={{ airport.iata_code }}>{{ airport.iata_code }}, {{ airport.name }}, {{ airport.country_name }}
                            {% if airport.isEEA == True %}, EEA {% endif %}</option>
                    {% endfor %}
                </datalist>


            </label><br>

            <label>

                Arrival / Departure
                <select name="type-selector" id="type-selector">

                    <option value="arrival"> Arrival</option>
                    <option value="departure"> Departure</option>
                </select>
                <select name="canceled-deleyed-selector" id="canceled-deleyed-selector">

                    <option value='{"status":"active","isDelay":"delay"}'> Delayed</option>
                    <option value='{"status":"canceled","isDelay":"notDelay"}'> Canceled</option>
                </select>

            </label>

            <br><br>
        <input type="submit" value="save to database">
        {% csrf_token %}
        </form>
    </div>



{% endblock %}
