<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

<div id="content">

    <header>
        <nav>
            <a href="/" class="btn">home</a>
            {% if user.is_authenticated %}
                <a href="/show_weather" class="btn">show weather</a>
                {#            <a href="/settings" class="btn">settings</a>#}
                <a href="/logout" class="btn">logout </a>
                <a href="/weather_archive_dashboard" class="btn">weather archive </a>
            {% else %}
                <a href="/login" class="btn">login</a>

            {% endif %}
        </nav>
    </header>

    <hr>
    {% block content %}{% endblock %}

</div>

</body>
</html>