* {
  margin: 0;
  padding: 0;
}

body * {
  font-size: 18px;
}

#content {
  width: 800px;
  margin: 0 auto;
}

table {
  width: 100%;
}
tr:hover td {
  background: #eee;
}
th, td {
  border: 1px solid #555;
  padding: 2px 5px;
}

a.btn {
  border: 1px solid #555;
  padding: 1px 4px;
  margin: 2px;
}
a.btn:hover {
  background: #aea;
}

ul.images li {
  border: 2px solid #333333;
  margin: 20px;
}

/*
spinner
*/
#overlay{
	position: relative;
	top: 0;
	z-index: 1;
	width: 100%;
	height:100%;
	display: none;
	background: rgba(0,0,0,0.6);
}
.cv-spinner {
	height: 100vh;
    width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
	width: 40px;
	height: 40px;
	border: 4px #ddd solid;
	border-top: 4px #2e93e6 solid;
	border-radius: 50%;
	animation: sp-anime 0.8s infinite linear;
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}
@keyframes sp-anime {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}
.is-hide{
	display:none;
}

.extendet_table{
	background-color: darkseagreen;
}